In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("mysql+pymysql://root:19980502@localhost:3306/testdb?charset=utf8")

In [4]:
print(engine)

Engine(mysql+pymysql://root:***@localhost:3306/testdb?charset=utf8)

In [5]:
formlist = pd.read_sql_query("show tables",con=engine)
print("testdb数据中的表清单为：",formlist)

testdb数据中的表清单为：      Tables_in_testdb
0  meal_order_detail1
1  meal_order_detail2
2  meal_order_detail3

D:\Anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 484")
  result = self._query(query)

In [6]:
detail = pd.read_sql_table("meal_order_detail1",con=engine)

In [7]:
print("使用read_sql_table读取订单详情的长度为:",len(detail))

使用read_sql_table读取订单详情的长度为: 2779

In [9]:
detail2 = pd.read_sql("select * from  meal_order_detail2",con=engine)
print("使用read_sql函数+sql语句读取的订单详情表长度：",len(detail2))
detail3 = pd.read_sql("meal_order_detail3",con=engine)
print("使用read_sql函数+表格名读取的订单详情表的长度为:",len(detail3))

使用read_sql函数+sql语句读取的订单详情表长度： 3647
使用read_sql函数+表格名读取的订单详情表的长度为: 3611

In [10]:
detail2.head()

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2352,366,609967,NA,NA,香酥两吃大虾,0,1.0,89.0,NA,2016-08-11 11:49:00,NA,NA,NA,0,NA,NA,caipu/101002.jpg,1159
1,2354,366,609961,NA,NA,姜葱炒花蟹,0,1.0,45.0,NA,2016-08-11 11:51:00,NA,NA,NA,0,NA,NA,caipu/102001.jpg,1159
2,2356,366,606000,NA,NA,香烤牛排\r\n\r\n\r\n,0,1.0,55.0,NA,2016-08-11 11:52:00,NA,NA,NA,0,NA,NA,caipu/201001.jpg,1159
3,2358,366,606106,NA,NA,铁板牛肉,0,1.0,66.0,NA,2016-08-11 11:53:00,NA,NA,NA,0,NA,NA,/jsp/pc/images/606106.jpg,1159
4,2361,366,610003,NA,NA,蒜香包,0,1.0,13.0,NA,2016-08-11 11:54:00,NA,NA,NA,0,NA,NA,caipu/503002.jpg,1159